
body {
  background-color: #1b1b1b !important;
}


    /* Menú de navegación */
    nav {
      background-color: #2d3436;
      color: rgb(255, 253, 253);
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      cursor: pointer;
      transition: color 0.3s;
    }

    nav ul li:hover {
      color: #00cec9;
    }

    /* Contenedor de tarjetas */
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 40px;
    }



.mi-carousel {
  max-width: 1600px; /* ancho deseado */
  height: 450px;    /* alto deseado */
  margin: 0 auto;
  overflow: hidden;
}


